* {
	box-sizing: border-box;
}

:root {
	--clarendon: "clarendon-text-pro", "Superclarendon-Regular", "Rockwell", system-ui, "Segoe UI", Roboto, Oxygen-Sans,
		Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--system: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--background: #fffcfc;
	--text: #000;
	--brand: #f13a3a;
	--loader: #333;
	--dark-grey: #444;
	--grey: #535353;
	--light-grey: #888;
	--link: #000;
	--dilute-brand: #faf0f0;
	--very-dilute-brand: #ffefdd;
	--autocomplete-background: #fff;
	--autocomplete-border: #aaa;
	--autocomplete-active-background: #eee;
	--share-preview-background: #fff;
	--unit-background: #f1f1f1;
	--share-shadow: #aaa;
}

body {
	background: var(--background);
	color: var(--text);
	font-size: 16px;
	line-height: 1.4;
	font-family: var(--system);
	text-align: center;
	margin: 0;
}

h1,
h2,
h3,
.subheading,
h1 a {
	font-size: 1.5rem;
	color: var(--brand);
	margin: 0 0 1em;
	text-decoration: none;
}

h1 {
	font-weight: 500;
}

h1 a:hover,
h1 a:focus {
	color: #999;
}

h2 {
	margin-bottom: 0;
}

h3 {
	margin-bottom: 0.5em;
	font-size: 1.125em;
	font-weight: 600;
	margin-bottom: 0.5em;
}

.section__title .subpage {
	color: var(--text);
}

.subheading {
	color: #999;
	font-size: 1.25rem;
}

a {
	color: var(--link);
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;

	&:hover,
	&:focus {
		color: var(--brand);
	}
}

.above-content-ad {
	display: inline-block;
}

.page {
	width: 100%;
	margin: 0 auto;
	padding: 0 10px 10px;
	&--share {
		padding: 0;
		max-width: none;
		.share-settings {
			padding: 0 10px;
		}
	}
}

#elevation,
.metadata {
	max-width: 640px;
	margin: 0 auto;
}

#location-prompt {
	.address-search {
		margin: 2em auto;
		display: flex;
		justify-content: center;
		// align-items: flex-start;
		text-align: center;
		max-width: 35em;
	}

	#address {
		font-size: 1.25rem;
		padding: 0.25em 0.5em;
		border: 2px solid #ccc;
		width: 100%;
		&:focus,
		&:active {
			border-color: #999;
		}
		outline: none;
	}

	#address,
	.button {
		font-size: 1.2rem;
	}

	.v-autocomplete {
		flex-grow: 1;
	}

	.v-autocomplete-list {
		border: 2px solid var(--autocomplete-border);
		border-top: 0;
	}

	.v-autocomplete-list-item {
		font-size: 0.875rem;
		text-align: left;
		padding: 4px 8px;
		cursor: pointer;
		color: var(--text);
		background: var(--autocomplete-background);

		&:hover,
		&:focus,
		&.v-autocomplete-item-active {
			background: var(--autocomplete-active-background);
			cursor: pointer;
		}
	}
}

.map-container {
	display: none;
	clear: both;
	position: relative;
	padding-bottom: 50%;
	height: 50vh;
	height: 0;
	margin: 0 5vw 35px;
}

.map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.spinner {
	width: 95px;
	height: 95px;

	position: absolute;
	left: calc(50% - (95px / 2));
	top: calc(50% - (95px / 2));
}

.double-bounce1,
.double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--loader);
	opacity: 0.85;
	position: absolute;
	top: 0;
	left: 0;

	animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
	animation-delay: -1s;
}

.slide-enter-active {
	transition: all 0.25s ease-in-out;
}
.slide-leave-active {
	transition: all 0.25s ease-out;
}
.slide-enter,
.slide-leave-to {
	transform: scaleY(0);
	opacity: 0;
	margin-top: -4.25em;
}

#elevation {
	font-size: 95px;
	font-family: var(--clarendon);
	font-display: auto;
	line-height: 1;
	text-align: center;
}

.metadata {
	text-align: center;
	line-height: 2;
	margin-bottom: 1rem;
	font-weight: 400;
	font-size: 1.125rem;
	color: var(--dark-grey);
}

#location .value {
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.4;
}

#location .coordinates {
	font-weight: 300;
	font-size: 1.6rem;
}

#elevation-source .source:before {
	// content: "";
	width: 1.25rem;
	height: 1.25rem;
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	margin-right: 0.4rem;
	margin-top: -0.225rem;
	mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.234 16.203c-4.296 0-7.836-3.547-7.836-7.836S3.938.531 8.227.531s7.843 3.547 7.843 7.836c0 4.29-3.547 7.836-7.836 7.836zm0-1.008a6.809 6.809 0 0 0 6.82-6.828 6.809 6.809 0 0 0-6.827-6.82 6.795 6.795 0 0 0-6.813 6.82 6.808 6.808 0 0 0 6.82 6.828zm-.046-9.78a.85.85 0 0 1-.86-.853c0-.476.383-.859.86-.859.476 0 .859.383.859.86a.85.85 0 0 1-.86.851zm-1.352 7.21a.427.427 0 0 1-.445-.43c0-.242.187-.437.445-.437h1.117V7.71H6.937a.43.43 0 0 1-.445-.438c0-.234.188-.43.446-.43h1.5c.304 0 .476.22.476.54v4.375h1.117c.258 0 .446.195.446.437s-.188.43-.446.43H6.836z' fill='%23444444' fill-rule='nonzero'/%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: var(--dark-grey);
}
.watching-indicator {
	color: #007fff;
	font-size: 0.75em;
}

.watching-indicator:before {
	content: "";
	width: 0.75rem;
	height: 0.75rem;
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	margin-right: 0.4rem;
	margin-top: -0.225rem;
	background-color: #007fff;
	mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.23 8.126c-.34-.34-.284-.904.042-1.23.202-.195.5-.334.876-.5l11.32-5.22c.591-.27 1.008-.215 1.286.07.285.278.34.695.07 1.285L9.604 13.86c-.166.368-.305.667-.5.869-.326.326-.89.382-1.23.041-.23-.229-.347-.597-.347-.973l-.014-5.045c0-.111-.014-.174-.049-.215-.041-.035-.104-.049-.215-.049l-5.045-.014c-.376 0-.744-.118-.973-.347z' stroke='%23FFF' fill='%23007FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
	animation: pulse 3s infinite ease-in-out;
}

.elevation-reading {
	position: relative;
	&.loading .reading {
		opacity: 0.2;
	}
}

.topline-readings {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;

	@media (max-width: 640px) {
		grid-template-columns: 1fr 1fr;
		.reading.reading--speed {
			grid-row: 1;
			grid-column-end: span 2;
		}
	}

	.reading {
		margin-top: auto;

		&__value {
			font-size: 2.5em;
			font-family: clarendon-text-pro, "Superclarendon-Regular", "Rockwell", -apple-system, BlinkMacSystemFont,
				"Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue";
			font-weight: 400;
			font-style: normal;
			@media (max-width: 640px) {
				font-size: 2.2em;
			}
		}
		&__label {
			font-size: 1rem;
			color: var(--grey);
			font-weight: 600;
			margin-bottom: 0.5em;
		}
		&.reading--speed {
			font-size: 1.8rem;
			.reading__label {
				font-size: 1.25rem;
				margin-bottom: 0;
			}
		}
	}
}
.not-watching .reading__value {
	color: var(--light-grey);
}

.button,
.button:visited {
	white-space: nowrap;
	text-decoration: none;
	color: var(--text);
	padding: 4px 8px;
	font-weight: 600;
}

.button:hover,
.button:focus {
	color: #666;
	cursor: pointer;
}

.settings {
	font-size: 1.375em;
	margin-bottom: 1em;
}

#choose-units {
	margin: 1em 0;
}
#choose-units .units {
	color: #999;
	transition: background-color 0.5s ease, color 0.5s ease;
	margin: 0 6px;
}
#choose-units .units-selected {
	color: var(--text);
}

#choose-units .units:hover,
#choose-units .units:focus {
	color: #666;
}

.section {
	margin-bottom: 4em;
}

.altimeters {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 320px));
	grid-gap: 1.5rem;
	justify-content: center;
}

.altimeters--sponsored {
	display: block;
	padding: 0 10px;
	max-width: 680px;
	margin: 0 auto;
}

.altimeter {
	text-align: left;
	border: 4px solid #ccc;
}

.altimeter--full-width {
	width: 100%;
	margin: 1em 0;
}

.ad {
	margin: 0.5em 0;
	&--top {
		margin: 0 0 1em;
	}
}

.altimeter a {
	padding: 1em;
	text-decoration: none;
	color: #000;
	display: block;
	height: 100%;
}

.altimeter a:hover,
.altimeter a:focus {
	background: #fff;
}

.altimeter h3 {
	font-size: 1.25rem;
}

.altimeter a h3 {
	color: #333;
}

.altimeter a .altimeter__price {
	color: #aaa;
}

.languages {
	list-style: none;
	text-align: center;
	padding: 0;
}

.languages li {
	display: inline-block;
	margin: 0 0.3em;
}

.languages a {
	color: var(--light-grey);

	@media (max-width: 480px) {
		padding: 0.85em 0;
		display: block;
	}

	&:hover,
	&:active {
		color: var(--brand);
	}
}

.section--about {
	margin-top: 2em;
	.text-block {
		text-align: left;
		max-width: 32rem;
		margin: 0 auto;
	}
}

.section--navigation {
	nav ul {
		list-style: none;
		padding: 0;
	}

	nav li {
		display: inline-block;
		padding: 0 0.5em;
		white-space: nowrap;
	}
}

.section--features {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
	margin: 2rem 0;
}
.feature {
	display: grid;
	grid-template-areas:
		". title"
		"image description";
	text-align: left;
	grid-column-gap: 1rem;

	&__title {
		font-family: var(--clarendon);
		font-size: 1.5em;
		font-weight: 500;
		color: var(--text);
		grid-area: title;
	}
	&__image {
		grid-area: image;
		margin-top: 0.4rem;
	}
	&__description {
		grid-area: description;
		margin-top: 0;
	}
}

.setting-button {
	padding: 0.5em;
	font-size: 0.875em;
	display: inline-block;
	color: var(--grey);
	font-weight: 400;
	&.active {
		font-weight: 600;
	}
}
.setting-button:before {
	content: "";
	mask-repeat: no-repeat;
	mask-size: contain;
	width: 1rem;
	height: 1rem;
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	margin-right: 0.4rem;
	margin-top: -0.225rem;
	background-color: var(--text);
}
.setting-button--color-scheme-light:before {
	mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.497 12.98c-3.404 0-6.205-2.794-6.205-6.205 0-3.41 2.795-6.21 6.205-6.21s6.211 2.8 6.211 6.21-2.8 6.205-6.21 6.205zm0-1.593a4.602 4.602 0 0 0 4.617-4.612 4.615 4.615 0 0 0-4.617-4.617 4.606 4.606 0 0 0-4.611 4.617 4.601 4.601 0 0 0 4.611 4.612z' fill='%23535353' fill-rule='nonzero'/%3E%3C/svg%3E");
}
.setting-button--color-scheme-dark:before {
	mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.137 12.98c-3.405 0-6.205-2.794-6.205-6.205 0-3.41 2.795-6.21 6.205-6.21s6.21 2.8 6.21 6.21-2.8 6.205-6.21 6.205z' fill='%23535353' fill-rule='nonzero'/%3E%3C/svg%3E");
}
.setting-button--color-scheme-auto:before {
	mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.782 12.904c-3.369 0-6.135-2.765-6.135-6.129 0-3.369 2.766-6.134 6.13-6.134 3.369 0 6.134 2.765 6.134 6.134 0 3.364-2.765 6.13-6.129 6.13zm0-1.593a4.52 4.52 0 0 0 4.535-4.536 4.534 4.534 0 0 0-4.54-4.54l.005 9.076z' fill='%23535353' fill-rule='nonzero'/%3E%3C/svg%3E");
}

.calculator-container {
	.converter-box {
		margin: 1em auto;
	}
}

.converter-container {
	display: flex;
	justify-content: center;
	@media (max-width: 480px) {
		flex-direction: column;
		.converter-box {
			width: auto;
		}
	}
}
.converter-box {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 26ex;
	margin: 1em;

	&__value {
		font-family: var(--clarendon);
		font-size: 3em;
		background-color: var(--autocomplete-background);
		border: 1px solid var(--unit-background);
		padding: 0 0.25em;
	}
	&__unit {
		font-size: 1.25em;
		background-color: var(--unit-background);
		border: 1px solid var(--unit-background);
		padding: 0.25em;
	}
}

.equal-sign {
	font-size: 2.5em;
	line-height: 3;
	@media (max-width: 480px) {
		line-height: 1;
	}
}

.formula {
	padding: 0.25em 2em;
	max-width: 32rem;
	margin: 1em auto;
	box-sizing: border-box;
	background: var(--dilute-brand);
	h3 {
		margin-bottom: 0.5em;
	}
	p {
		margin-top: 0;
	}
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@media (max-width: 30rem) {
	.page--api .section--api-intro .section__title {
		font-size: 1.6rem;
	}
	.section--features {
		grid-template-columns: 1fr;
	}
}

@mixin dark-mode {
	--share-preview-background: #333;
	--background: #000;
	--text: #fffef2;
	--loader: #fafafa;
	--dark-grey: var(--dilute-brand);
	--grey: #ddd;
	--light-grey: #eee;
	--link: #fff;
	--autocomplete-background: #333;
	--autocomplete-border: #aaa;
	--share-shadow: #111;
	--autocomplete-active-background: #666;

	h3.state__name {
		color: var(--dark-grey);
	}
	.feature__image,
	.section--api-intro img {
		background-color: #fff;
		border-radius: 1em;
		padding: 1em;
	}
	.sharing__promo {
		color: var(--very-dilute-brand);
		background: var(--share-preview-background);
		&:after {
			border-bottom-color: var(--share-preview-background);
		}
	}
}

.color-scheme--dark {
	@include dark-mode;
}

@media (prefers-color-scheme: dark) {
	.color-scheme--auto {
		@include dark-mode;
	}
}

// hide auto mode except for browsers that support it
.setting-button--color-scheme-auto {
	display: none;
}

@media (prefers-color-scheme: light), (prefers-color-scheme: dark) {
	.setting-button--color-scheme-auto {
		display: inline-block;
	}
}

@keyframes sk-bounce {
	0%,
	100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}

@keyframes pulse {
	50% {
		opacity: 0.3;
	}
}
