* {
	box-sizing: border-box;
}

:root {
	--clarendon: "clarendon-text-pro", "Superclarendon-Regular", "Rockwell", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--background: #FFFEF2;
	--text: #000;
	--brand: #FC7A24;
	--loader: #333;
	--dark-grey: #444;
	--light-grey: #888;
	--link: #000;
	--dilute-brand: #FFD6BB;
	--autocomplete-background: #fff;
	--autocomplete-border: #aaa;
	--autocomplete-active-background: #eee;
}

body {
	background: var(--background);
	color: var(--text);
	font-size: 16px;
	line-height: 1.4;
  font-family: var(--system);
	text-align: center;
	max-width: 50rem;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}

h1,
h2,
h3,
.subheading,
h1 a {
	font-size: 1.5rem;
	color: var(--brand);
	margin: 0 0 1em;
	text-decoration: none;
}

h1 {
	font-weight: 500;
}

h1 a:hover,
h1 a:focus {
	color: #999;
}

h2 {
	margin-bottom: 0;	
}

h3 {
	margin-bottom: 0.5em;
}

.section__title .subpage {
	color: color(--text);
}

.subheading {
	color: #999;
	font-size: 1.25rem;
}

a {
	color: var(--link);
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;

	&:hover, &:focus {
			color: var(--brand);
	}
}

#elevation,
.metadata {
	max-width: 640px;
	margin: 0 auto;
}

#location-prompt {

	.address-search {
		margin: 2em auto;
		display: flex;
		justify-content: center;
    // align-items: flex-start;
		text-align: center;
		max-width: 35em;
	}

	#address {
		font-size: 1.25rem;
		padding: 0.25em 0.5em;
		border: 2px solid #ccc;
		width: 100%;
		&:focus, &:active {
			border-color: #999
		}
		outline: none;
	}

	#address,
	.button {
		font-size: 1.2rem;
	}

	.v-autocomplete {
    flex-grow: 1;
	}

	.v-autocomplete-list {
		border: 2px solid var(--autocomplete-border);
		border-top: 0;
	}

	.v-autocomplete-list-item {
		font-size: 0.875rem;
		text-align: left;
		padding: 4px 8px;
		cursor:pointer;
		color: var(--text);
		background: var(--autocomplete-background);

		&:hover, &:focus, &.v-autocomplete-item-active {
			background: var(--autocomplete-active-background);
			cursor: pointer;
		}
	}
}

.map-container {
	display: none;
	clear: both;
	position: relative;
	padding-bottom: 50%;
	height: 50vh;
	height: 0;
	margin: 0 5vw 35px;
}

.map { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.spinner {
  width: 95px;
  height: 95px;

  position: relative;
  margin: 0 auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--loader);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1.0s;
}

.slide-enter-active {
	transition: all 0.25s ease-in-out;
}
.slide-leave-active {
	transition: all 0.25s ease-out;
}
.slide-enter, .slide-leave-to { 
	transform: scaleY(0);
	opacity: 0; 
	margin-top: -3em;
}

#elevation {
	font-size: 95px;
	font-family: var(--clarendon);
	font-display: auto;
	line-height: 1;
	text-align: center;
}

.metadata {
	text-align: center;
	line-height: 2;
	margin-bottom: 1rem;
	font-weight: 400;
	font-size: 1.125rem;
	color: var(--dark-grey);
}

#location .value {
	font-size: 2rem;
  font-weight: 300;
  line-height: 1.4;
}

#location .coordinates {
    font-weight: 300;
    font-size: 1.6rem;
}

#elevation-source .source:before {
	// content: "";
	width: 1.25rem;
	height: 1.25rem;
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	margin-right: 0.4rem;
	margin-top: -0.225rem;
	mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.234 16.203c-4.296 0-7.836-3.547-7.836-7.836S3.938.531 8.227.531s7.843 3.547 7.843 7.836c0 4.29-3.547 7.836-7.836 7.836zm0-1.008a6.809 6.809 0 0 0 6.82-6.828 6.809 6.809 0 0 0-6.827-6.82 6.795 6.795 0 0 0-6.813 6.82 6.808 6.808 0 0 0 6.82 6.828zm-.046-9.78a.85.85 0 0 1-.86-.853c0-.476.383-.859.86-.859.476 0 .859.383.859.86a.85.85 0 0 1-.86.851zm-1.352 7.21a.427.427 0 0 1-.445-.43c0-.242.187-.437.445-.437h1.117V7.71H6.937a.43.43 0 0 1-.445-.438c0-.234.188-.43.446-.43h1.5c.304 0 .476.22.476.54v4.375h1.117c.258 0 .446.195.446.437s-.188.43-.446.43H6.836z' fill='%23444444' fill-rule='nonzero'/%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: var(--dark-grey);
}
.watching {
	color: #007FFF;
	font-size: 0.75em;
}

.watching:before {
	content: "";
	width: 0.75rem;
	height: 0.75rem;
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	margin-right: 0.4rem;
	margin-top: -0.225rem;
	background-color: #007FFF;
	mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.23 8.126c-.34-.34-.284-.904.042-1.23.202-.195.5-.334.876-.5l11.32-5.22c.591-.27 1.008-.215 1.286.07.285.278.34.695.07 1.285L9.604 13.86c-.166.368-.305.667-.5.869-.326.326-.89.382-1.23.041-.23-.229-.347-.597-.347-.973l-.014-5.045c0-.111-.014-.174-.049-.215-.041-.035-.104-.049-.215-.049l-5.045-.014c-.376 0-.744-.118-.973-.347z' stroke='%23FFF' fill='%23007FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
	background-size: contain;
	background-repeat: no-repeat;
	animation: pulse 3s infinite ease-in-out;
}

.button,
.button:visited {
	white-space: nowrap;
	text-decoration: none;
	color: var(--text);
	padding: 4px 8px;
	font-weight: 600;
}

.button:hover,
.button:focus {
	color: #666;
	cursor: pointer;
}

.settings {
	font-size: 1.375em;
}

#choose-units .units {
	color: #999;	
	transition: background-color .5s ease, color .5s ease;
	margin: 0 6px;
} 
#choose-units .units-selected {
	color: var(--text);
}

#choose-units .units:hover,
#choose-units .units:focus {
	color: #666;
}

.section {
	margin-bottom: 4em;
}

.altimeters {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 320px));
	grid-gap: 1.5rem;
	justify-content: center;
}

.altimeters--sponsored {
    display: block;
    padding: 0 10px;
    max-width: 680px;
    margin: 0 auto;
}

.altimeter {
	text-align: left;
    border: 4px solid #ccc;
}

.altimeter--full-width {
    width: 100%;
    margin: 1em 0;
}

.ad {
    margin: 1em 0;
}

.altimeter a {
  padding: 1em;
	text-decoration: none;
	color: #000;
	display: block;
	height: 100%;
}

.altimeter a:hover,
.altimeter a:focus {
	background: #fff;
}

.altimeter h3 {
	font-size: 1.25rem;
}

.altimeter a h3 {
	color: #333;
}

.altimeter  a .altimeter__price {
	color: #aaa;
}

.languages {
	list-style: none;
	text-align: center;
  padding: 0;
}

.languages li {
	display: inline-block;
	margin: 0 0.3em;
}

.languages a {
		color: var(--light-grey);
		
		&:hover, &:active {
			color: var(--brand);
		}
}

.section--about .text-block {
	text-align: left;
	max-width: 32rem;
	margin: 0 auto;
}

.section--atlas {

	max-width: 80rem;
	margin: 0 auto;

	.country {
    margin: 2em 0;
	}
	.states {
		display: grid;
		grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
		justify-content: center;
		grid-gap: 2rem;
	}
	h3.state__name {
		font-size: 1em;
		color: var(--text);
		margin: 2em 0 1em;
	}
	.no-states {
		width: 50rem;
		max-width: 100%;
		margin: 0 auto;
	}
	.city {
			display: inline;
			padding: 0 0.25em;
			line-height: 1.6;
			div {
				display: inline;
			}
	}
	a {
		color: var(--light-grey);
	}
}

.section--navigation {
	nav ul {
			list-style: none;
			padding: 0;
	}
	
	nav li {
			display: inline;
			padding: 0 0.5em;
	}
}

.page--api {
	.section--api-intro {
		max-width: 30rem;
		margin: 0 auto 3rem;

		.section__title {
			font-family: var(--clarendon);
			font-display: auto;
			font-size: 2.5rem;
			line-height: 1.2;
			font-weight: 500;
			color: var(--text);
		}
	}
	.text-block {
		max-width: 25rem;
		margin: 0 auto;
		text-align: left;
	}
	.button {
		display: inline-block;
		background: var(--dilute-brand);
		border: 2px solid #535353;
		border-radius: 7px;
		font-size: 1.25rem;
		font-weight: 600;
		font-family: Helvetica;
		color: #535353;
		transition: background-color 0.3s ease;
		margin: 2rem 0;
		&:hover, &:focus {
			background: #FFF3EB;
		}
	}
}

.section--features {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
	margin: 2rem 0;
}
.feature {
	display: grid;
	grid-template-areas:
		". title"
		"image description";
	text-align: left;
	grid-column-gap: 1rem;

	&__title {
		font-family: var(--clarendon);
		font-size: 1.5em;
		font-weight: 500;
		color: var(--text);
		grid-area: title;
	}
	&__image {
		grid-area: image;
		margin-top: 0.4rem;
	}
	&__description {
		grid-area: description;
		margin-top: 0;
	}
}

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

@media (max-width: 30rem) {
	.page--api .section--api-intro .section__title {
    font-size: 1.6rem;
	} 
	.section--features {
		grid-template-columns: 1fr;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #000;
		--text: #FFFEF2;
		--loader: #fafafa;
		--dark-grey: var(--dilute-brand);
		--light-grey: #eee;
		--link: #fff;
		--autocomplete-background: #333;
		--autocomplete-border: #aaa;
		--autocomplete-active-background: #666;
	}
	h3.state__name {
		color: var(--dark-grey);
	}
	.feature__image, .section--api-intro img {
		background-color: #fff;
		border-radius: 1em;
		padding: 1em;
	}
}

.offline {
	#change-location,
	#toggle-web-elevation,
	#location-prompt,
	.altimeter-section,
	.section--navigation,
	.toggle-source--web {
		display: none;
	}
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
  }
}

@keyframes pulse {
  50% { 
		opacity: 0.3
  }
}